// Color Palette for the Project

:root {
  --default-color: #A9ACB2;
  --primary-color: #29B8F5;
  --secondary-color: #252633;
  --element-color: #FFFFFF;
  --background-color: #F5F5F5;
  --warning-color: #FF5C5C;
  --important-color: #FF9900;
  --confirmation-color: #2DCA8C;
}
